.trustedBy{
  background-color: #fafafa;
  height: 100px;
  display: flex;
  justify-content: center;

  .container{
      width:760px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: lightgray;
    font-weight: 500;
    img{
      height: 50px;
      object-fit: contain;
    }
  }
}